* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
body{
    background-image:url(pictures/imageedit_1_7932743327.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    
    z-index: -1;
}
header{ 
    
    width: 100vw;
    height: 100px;
   
    
    z-index: -10;
   
    
   
   
}


header nav {
    width: 100%;
    height: 95px;
    

    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    box-shadow: 0px 0px 30px #880f88;
    background: #ece7e7;
    position: fixed;
    z-index: 10000;
}

header nav .logo img {
    height: 90px;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 10px;

    cursor: pointer;


}

header nav li {


    display: inline-block;
    padding: 20px;



}

header nav li a {


    display: inline;
    font-weight: 550;

   
    font-size: 20px;
    text-decoration: none;
    color: #7e0ed3;



}
header nav li a:hover{
    color: #1c045e;
    
}
#search_bar{
        
    position: absolute;
    margin-left: 550px;
    width: 430px;
    height: 30px;
    background: rgb(198, 156, 236);
    border-radius: 25px;
   
}
#search_bar input{
    width: 430px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border:none;
    outline: none;
    
    font-size: 13px;
    background: none;
}
#glass{
    position: absolute;
    margin-left: 990px;
    
    z-index: 10;
    
   
}
#first {
    margin-left: 900px;
}
section{
    position: static;
    margin-bottom: 100px


}
.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    
}

.gallery-title {
    font-size: 44px;
    color: #3f1288;
    margin-bottom: 20px;
}

.news-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    margin-left: 4%;
}

.news-snippet {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(117, 7, 90, 0.1);
    width: 320px;
    overflow: hidden;
}

.news-snippet img {
    width: 100%;
    height: auto;
    display: block;
}

.news-snippet h2 {
    font-size: 18px;
    margin: 10px;
}

.news-snippet p {
    font-size: 14px;
    color: #666;
    margin: 10px;
}

.news-snippet:hover {
    border: #860760 1px solid;
}
















footer{
    width: 100%;
    background: #c2bdbd;
    box-shadow: 0px 0px 30px #181556;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #7e0ed3;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}
