* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
body{
    background-image:url(pictures/imageedit_1_7932743327.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    
    z-index: -1;
}
header{ 
    
    width: 100vw;
    height: 100vh;
   
    
    z-index: -10;
    
   
   
}


header nav {
    width: 100%;
    height: 95px;
    

    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    box-shadow: 0px 0px 30px #181556;
    background: #ece7e7;
    position: fixed;
    z-index: 10000;
}

header nav .logo img {
    height: 90px;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 10px;

    cursor: pointer;


}

header nav li {


    display: inline-block;
    padding: 20px;



}

header nav li a {


    display: inline;
    font-weight: 550;

   
    font-size: 20px;
    text-decoration: none;
    color: #7e0ed3;



}
header nav li a:hover{
    color: #1c045e;
    
}


#first {
    margin-left: 900px;
}
#banner{
    
    display: inline-block;
    position: relative;
   
    padding-left: 950px;
    padding-top: 30px;
    bottom:990px;
    right: 20px;
   
    z-index: 100;

}
#img{
    height: 400px;
    width: 530px;
    border-radius: 50%;
}
#taza{
    position: relative;
    display: inline-block;
    z-index: 100;
    font-size: 50px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1035px;
    bottom: 1229px;
    text-shadow: 2px 6px 5px rgb(209, 15, 15);
    

    }
   
    
    #main_tag h1{
        position: relative;
        font-size: 55px;
        top: 420px;
        right: 876px;
        text-shadow: 2px 6px 5px rgb(241, 234, 234);
    }
    
    #main_tag h1 span{
        color: #7a2db4;
        
    
    }
    
    #main_tag p{
        
        width: 650px;
        text-align: justify;
        line-height: 22px;
        position: relative;
        top: 450px;
        right: 875px;
        font-size: 20px;
        font-style: italic;
        text-shadow: 2px 6px 5px rgb(245, 239, 239);
        
    }
    
    #main_tag .main_btn{
        background: #9c45c4;
        padding: 10px 20px;
        position: relative;
        top: 497px;
        right: 876px;
        color: #fff;
        text-decoration: none;
        
    }
     






    footer{
        width: 100%;
        background: #c2bdbd;
        box-shadow: 0px 0px 30px #181556;
    }
    
    footer .footer_main{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    footer .footer_main .tag{
        margin: 10px 0;
    }
    
    footer .footer_main .tag img{
        width: 100px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    footer .footer_main .tag p{
        width: 250px;
        line-height: 22px;
        text-align: justify;
    }
    
    footer .footer_main .tag h1{
        font-size: 25px;
        margin: 25px 0;
        color: #000;
    }
    
    footer .footer_main .tag a{
        display: block;
        color: black;
        text-decoration: none;
        margin: 10px 0;
    }
    
    footer .footer_main .tag i{
        margin-right: 10px;
    }
    
    footer .footer_main .tag .social_link i{
        margin: 0 5px;
    }
    
    footer .footer_main .tag .search_bar{
        width: 230px;
        height: 30px;
        background: rgba(202,202,202);
        border-radius: 25px;
    }
    
    footer .footer_main .tag .search_bar input{
        width: 200px;
        padding: 2px 0;
        position: relative;
        top: 17%;
        left: 6%;
        border: none;
        outline: none;
        font-size: 13px;
        background: none;
    }
    
    footer .footer_main .tag .search_bar button{
        padding: 7px 15px;
        background: #7e0ed3;
        border: none;
        margin-top: 15px;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;
    }
    
    footer .end{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        color: #000;
    }
    
    #Featured{
        position: absolute;
        bottom: -800px;
        
         
       
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .featured_boks{
        width: 100%;
        height: 100vh;
        padding: 70px 0;
    }
    
    .featured_boks h1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        font-size: 45px;
    }
    
    .featured_boks .featured_book_box{
        width: 95%;
        height: 95vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        
    }
    
    .featured_boks .featured_book_box .featured_book_card{
        width: 435px;
        height: 470px;
        text-align: center;
        padding: 5px;
        border: 2px solid #0c0303;
        margin:  20px;
    }
    
    .featured_boks .featured_book_box .featured_book_card:hover{
        box-shadow: 0 0 5px #7e0ed3;
    }
    
    .featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
        width: 420px;
    }
    
    .featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
        margin: 12px;
    }
    
    .featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
        color: #1f1c1c;
        font-weight: 600;
    }
    
    .featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
        color: #060408;
        text-shadow: 2px 6px 5px rgb(243, 239, 239);        
        margin-top: 8px;
    }
    
    
    
   
    
    .featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
        position: absolute;

        margin-left: -70px;
        margin-top: 12px;

        padding: 5px 20px;
        
        border: 2px solid #7e0ed3;
        text-decoration: none;
        color: #000;
    }
    #learn{
        position:absolute;
        margin-top: 27px;
        


    }
    #learnn{
        position:absolute;
        margin-top: 10px;
        


    }
    #search_bar{
        
        position: absolute;
        margin-left: 550px;
        width: 430px;
        height: 30px;
        background: rgb(198, 156, 236);
        border-radius: 25px;
       
    }
    #search_bar input{
        width: 430px;
        padding: 2px 0;
        position: relative;
        top: 17%;
        left: 6%;
        border:none;
        outline: none;
        
        font-size: 13px;
        background: none;
    }
    #glass{
        position: absolute;
        margin-left: 990px;
        
        z-index: 10;
        
       
    }
    
    
    
   
    
